
.inner{width: 100%;}
.gnb{display: flex;max-width: 900px;margin: auto;}
.gnb h1{margin: auto; font-size: 1.5rem;}
.gnb ul{display: flex; margin: auto;}
.gnb ul li{margin : 5rem 1rem; font-size:1rem;}