.user-lists{
    width: 50%;
    min-width: 500px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y:auto ;
    height: 50vh;
    max-height: 500px;
}

.user-list{
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 1px solid #ccc;
}

.user-list>img{border-radius: 50%;}

.user-list>.username{margin: 0 0.5rem; text-transform: uppercase; flex: 1 1 0; }
/* .user-list>.online{} */
.user-list>.online.on{color: pink; font-weight: bold;}
.user-list>.online.off{color: rgba(255, 192, 203, 0.553); font-weight: bold;}