/* event.module.css */

.event {
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 3rem 1rem;
    margin: 1rem auto;
    background-color: #fff;
}

.event h2 {
    font-size: 2rem;
    color: #f93;
}

.event li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 900px;
    height: auto;
    min-height: 300px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.12);
}

.event li:hover {
    box-shadow: 0.15rem 0.15rem 0.1rem rgba(0, 0, 0, 0.16);
    ;
}

.imgBox {
    width: 200px;
    height: 200px;
    margin-right: 3rem;
}

.des {
    width: 500px;
    margin: auto 0.5rem;
}

.des dt {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.des dd:nth-of-type(1) {
    font-size: 0.875rem;
    line-height: 1.5;
}

.des dd a {
    display: block;
    width: 200px;
    margin-top: 1rem;
    padding: 1rem;
    background-color: mediumslateblue;
    font-weight: 500;
    border-radius: 0.4rem;
}

.event .num {
    position: absolute;
    top: -1.5rem;
    left: -1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: mediumslateblue;
    color: #fff;
    font-size: 1rem;
    line-height: 40px;
    text-align: center;
}

.moreBtn{
    width: 2rem; height: 2rem;
    margin: auto; display: block;
}
.moreBtn svg{
    width: 2rem; height: 3rem;
}