

.footerMenu{
    width: 100%;
    max-width: 1200px;
    border: 1px solid #f93;
    text-align: center;
    height: auto;
    min-height: 300px;
}

.footerMenu h2{
    font-size: 3rem;
    padding: 1.5rem;
}