

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        
        const list = [1,2,3,4,5]
        const list2 = list 
        const list3 = [...list]
        const obj = {a:1,b:2,c:3}
        const obj2 = obj
        const obj3 = {...obj,c:4,b:1,e:8}

        console.log(list);
        console.log(list2);
        console.log(list3);
        console.log(obj);
        console.log(obj2);
        console.log(obj3);
    </script>
</body>
</html>